{% load static %}

<head>
    <title>RecipeShop</title>
    {% block bscss %} {% endblock %}
</head>

<body data-bs-theme="miami">
    <div class="container-fluid" style="background: linear-gradient(90deg, var(--bs-secondary-bg),var(--bs-tertiary-bg));">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 ps-3 pe-6 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="bi me-2" width="40" height="40" src="{% static 'core/img/logo.png' %}">
            <span class="fs-4">RecipeShop</span>
          </a>
    
          <ul class="nav nav-pills navbar-padding">
            <li class="nav-item">
                <a href="{% url 'recipe-list' %}" class="nav-link active" aria-current="page" style="font-size: medium;">Recipes</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'recipe-saved' %}" class="nav-link">Saved</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'recipe-cart' %}" class="nav-link">Cart (<span id='cart-count'>0</span>)</a>
            </li>
          </ul>
        </header>
      </div>

{% block content %}
<!-- Insert actual webpage content here -->
{% endblock %}
</body>

{% block scripts %}
{% endblock %}