{% extends 'core/base.html' %}
{% load static %}
 
{% block bscss %}
<!-- Bootstrap import, custom.css custom sass bootstrap mixins -->
<link rel="stylesheet" href="{% static 'core/node_modules/bootstrap/dist/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'core/scss/custom.css' %}">
</script>
{% endblock %}

{% block content %}
<div id="recipe-list" style="padding: 0px;" class="container-fluid">
    <form action="{% url 'recipe-search' %}" method="get" class="form-inline">
        <div class="input-group mx-auto" style="width: 30%;">
            <input name="q" type="text" class="form-control" placeholder="Search recipes">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <div class="row row-cols-auto justify-content-center">
        {% for recipe in page_obj %}
                    <!-- Create card div for every recipe in database -->
                    <div class="col">
                        <div class="card shadow mt-4 mb-4" style="width: 18rem;">
                            <!-- Object-fit: cover; expands/zooms the image to ensure every image is the same size -->
                            <img src="{{ recipe.image.url }}" class="card-img-top" style="width: 100%; height: 15rem; object-fit: cover;">
                            <div class="card-body" style=" background: #FFFFFF;">
                                <h5 class="card-title">{{recipe.name}}</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="row d-flex justify-content-center align-content-center">
                                    <a class="btn btn-primary col-5 me-1" href="{{ recipe.id }}/detail">Add to cart</a>
                                    <a class="btn btn-success col-5" href="{{ recipe.id }}/detail">Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of card div loop -->
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'core/node_modules/@popperjs/core/dist/cjs/popper.js' %}"></script>
<script src="{% static 'core/node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
{% endblock %}